<div class="content">
  <div  class="public-need-header">
    Explore needs of others, waiting to be fulfilled:
  </div>
  <br/>
  <br/>
  <div class="coming-soon">
    Coming soon...
<!--    <ul>-->
<!--      <ng-container *ngFor="let need of publicNeeds; let i = index">-->
<!--        <li class="list-item">-->
<!--          <div class="item-name" matTooltip="{{ need.needNotes }}" matTooltipPosition="below">-->
<!--            {{ need.itemNeededName }}-->
<!--            <br/>-->
<!--          </div>-->
<!--        </li>-->
<!--      </ng-container>-->
<!--    </ul>-->
  </div>
</div>
