<div class="content" xmlns="http://www.w3.org/1999/html">
  <div  class="public-need-header">
    Explore others' needs, waiting to be fulfilled:
  </div>
  <br/>
  <br/>
  <div class="public-need-main">
     <span class="public-need-message">
       You can make your needs public so other users can see them and help fulfill them. By making a need public, you agree that other users may contact you via email to support your need. When you choose to make a need public, try to provide as much detail as possible so others can fully understand your request.
    </span>
    <ul *ngIf="publicNeeds.length > 0; else noPublicNeeds">
      <ng-container *ngFor="let need of publicNeeds; let i = index">
        <li class="public-list-item">
          <div class="item-name">
            <span class="label">Needed item:</span>&nbsp;&nbsp;&nbsp;
            <span class="item-needed">{{ need.itemNeededName }}.</span>
            {{ need.needNotes ? ' - ' + need.needNotes : '' }}
            <br/>
            <span class="days-requested">(This has been requested for {{need.daysListed}} days).</span>
            <br/>
            <span class="vendor-label">This item can be found at&nbsp;&nbsp;</span>
            <span class="vendor-name">{{need.potentialVendor}}.</span>
            <br/>
            I can help <button (click)="openChat(need.ownerEmail)" class="chat-button">Chat</button>
<!--            <a href="mailto:{{need.ownerEmail}}" class="email-link">email</a>.-->

            <br/><br/>
            <div class="separator">*******************************************************</div>
          </div>
        </li>
      </ng-container>
    </ul>
    <ng-template #noPublicNeeds>
      <div class="empty-list-message">
        Make your needs public to allow others to see and help fulfill them.
      </div>
    </ng-template>
  </div>
</div>
