.public-need-header{
  width: 100%;
  height: 50px; /* Adjust the height of the header bar */
  background-color: #cedfeb;
  color: black;
  text-align: center;
  line-height: 50px; /* Vertical alignment */
  border-radius: 10px;
  font-family: 'Caveat', cursive;
  font-size: 30px;
}

@media (max-width: 600px) {
  .public-need-header {
    font-size: 20px;
    line-height: 40px;
    padding: 0 10px;
  }
}
.coming-soon{
  font-size: 30px;
  font-family: 'Caveat', cursive;
  text-align: center;
  /*padding-bottom: 300px;*/
}

.public-list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; /* Changed to flex-start for better alignment */
  background-color: transparent; /* No background */
  padding: 2px;
  border-radius: 0; /* No rounded corners */
  box-shadow: none; /* No box shadow */
  font-size: 20px;
  font-family: 'Caveat', cursive;
  border: none; /* No borders */
  margin-bottom: 5px;
  justify-content: flex-start; /* Ensure content starts from the left */
  text-align: left; /* Align text to the left */
}
