.public-need-header{
  width: 100%;
  height: 50px; /* Adjust the height of the header bar */
  background-color: #cedfeb;
  color: black;
  text-align: center;
  line-height: 50px; /* Vertical alignment */
  border-radius: 10px;
  font-family: 'Caveat', cursive;
  font-size: 30px;
}

@media (max-width: 600px) {
  .public-need-header {
    font-size: 20px; 
    line-height: 40px;
    padding: 0 10px;
  }
}
.coming-soon{
  font-size: 30px;
  font-family: 'Caveat', cursive;
  text-align: center;
  padding-bottom: 300px;
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: self-start;
  background-color: #f9f9f9;
  padding: 2px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-size: 20px;
  font-family: 'Caveat', cursive;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-bottom: 5px;
  justify-content: space-evenly;
}
