<div class="center-wrapper">
  <div *ngIf="!showRegisterForm"  class="login-form">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="username" placeholder="Username">
        <input type="password" formControlName="password" placeholder="Password">
        <div *ngIf="loginErrorMessage" class="alert alert-danger">
          {{ loginErrorMessage }}
        </div>
        <button type="submit">Login</button>
      <button type="button" (click)="toggleRegisterForm()" *ngIf="!showRegistrationSuccessfulMessage">Register</button>
      <br/>
      <a routerLink="/forgot-password">Forgot Password?</a>
      <div *ngIf="showRegistrationSuccessfulMessage" class="alert">Registration Successful! Please login.</div>
    </form>
  </div>
  <div *ngIf="showRegisterForm" class="register-new-user">
    <h2>Sign Up</h2>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" required>
      <div *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched">
        Username is required.
      </div>
      <div *ngIf="usernameExistsError" class="error-message">
        Username already exists.
      </div>
      <div *ngIf="usernameIsInvalidError" class="error-message">
        Username should contain no spaces and be between 5 and 20 characters long.
      </div>
      <br/>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" required>
      <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
        Password is required.
      </div>
      <br/>
      <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
  </div>
</div>
