.login-form{
  text-align: center;
}
/* General alert styles */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* Alert-danger styles for error messages */
.alert-danger {
  color: #a94442; /* Text color */
  background-color: #f2dede; /* Background color */
  border-color: #ebccd1; /* Border color */
}
