/* Parent container to center the forms */
.center-wrapper {
  display: flex;            /* Enables flexbox */
  justify-content: flex-end;  /* Centers content horizontally */
  align-items: flex-end;      /* Centers content vertically */
  flex-direction: column;   /* Aligns items vertically */
  height: 80vh;            /* Full viewport height */
  gap: 20px;                /* Adds space between login and register forms */
  box-sizing: border-box;   /* Prevents overflow due to padding/margin */
  /*transform: translateY(-10%); !* Shifts forms upward by 10% of the viewport height *!*/
  background-image: url('../../assets/login_page_background.png');
  background-size: cover;
  background-position: center;
  width: 100%;
}

/* Styling for both login and register forms */
.login-form, .register-new-user {
  padding: 30px;                   /* Adds padding inside forms */
  padding-top: 5px;
  text-align: left;                /* Aligns text inside forms to the left */
  width: 280px;                    /* Increased width for forms */
  border: 1px solid #ccc;          /* Border for forms */
  border-radius: 10px;             /* Adds rounded corners */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Soft shadow for forms */
  background-color: #f9f9f9;       /* Light background color */
  margin-bottom: 40px;             /* Adds space between forms */
  margin-right: 300px;
}

@media (max-width: 600px) {
  .center-wrapper {
    justify-content: center;
    align-items: center;
  }
  .login-form, .register-new-user {
    width: 80%;             /* More appropriate width on smaller screens */
    margin: 0;              /* Remove additional margins */
  }
}
/* Form fields: Inputs and labels */
input[type="text"],
input[type="email"],
input[type="password"],
button {
  width: 100%;                     /* Full width input fields */
  padding: 10px;                   /* Increased padding */
  margin: 5px 0 15px 0;            /* Adds spacing around fields */
  border-radius: 5px;              /* Adds rounded corners to input fields */
  border: 1px solid #ccc;          /* Border color for input fields */
}

input.error {
  border: 2px solid red;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Labels for form fields */
label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}


.alert {
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: black;
  background-color: #66BB6A;
}


.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

