.notify-dropoff-header{
  width: 100%;
  height: 50px;
  background-color: #ebccd1;
  color: black;
  text-align: center;
  line-height: 50px; /* Vertical alignment */
  border-radius: 10px;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  font-weight: normal;
}
.notify-dropoff-title{
  width: 100%;
  height: 50px;
  color: black;
  text-align: center;
  line-height: 50px; /* Vertical alignment */
  font-family: 'Baloo Bhai 2', serif;
  font-size: 25px;
}

.notify-dropoff-main{
  font-size: 30px;
  font-family: 'Baloo Bhai 2', serif;
  text-align: left;
  margin-left: 120px;
  margin-right: 120px;
}
@media (max-width: 600px) {
  .notify-dropoff-header {
    font-size: 20px;
    line-height: 40px;
    padding: 0 10px;
  }
  .notify-dropoff-main{
    font-size: 30px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.form-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-title {
  text-align: center;
  margin-top: 40px;
}

.form-description {
  text-align: center;
  margin-bottom: 20px;
}


.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.submit-button {
  background-color: #ffa500;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.custom-file-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.custom-file-label {
  background-color: #ffa500;
  color: white;
  padding: 5px 10px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
}

.custom-file-label:hover {
  background-color: #ff8c00;
}

.file-name {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.address-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.address-group .form-group {
  flex: 1 1 calc(50% - 10px);
  min-width: 200px;
}

.address-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.address-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.zip-code-group {
  flex: 1 1 100px;
}



