

<div class="login-container">
  <img src="assets/ineedit_logo_tilted.ico" alt="Logo" class="logo">
  <a routerLink="/login" class="login-link">Login</a>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
<div class="footer">
  <div class="social-media-links">
    <h4>Stay Connected on our Social Media</h4>
    <ul>
      <li><a href="https://www.facebook.com/profile.php?id=61559591244528" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i> Facebook</a></li>
<!--      <li><a href="https://www.instagram.com/yourhandle" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i> Instagram</a></li>-->
    </ul>
  </div>
</div>

