
.footer {
  display: flex;           /* Enables flexbox */
  flex-direction: column;  /* Stacks children vertically */
  align-items: center;     /* Centers items horizontally */
  justify-content: center; /* Centers items vertically */
  text-align: center;      /* Centers text */
  padding: 20px;           /* Padding around the content */
  background-color: #ddd;  /* Background color */
  font-size: 20px;
  font-family: 'Caveat', cursive/* Text size */
  /*line-height: 50px;*/
}

.social-media-links ul{
  list-style: none;
  padding: 0;
  text-align: center;
}

.social-media-links li {
  display: inline-block;
  margin-right: 10px; /* Space between icons */
}

.social-media-links a {
  text-decoration: none;
  color: #333; /* Dark grey text and icons */
}

.social-media-links a:hover {
  color: #0056b3; /* Highlight color on hover */
}

.login-container {
  display: flex;
  justify-content: space-between; /* This will push the logo to the left and links to the right */
  align-items: flex-end; /* Vertically align items in the middle */
  width: 100%; /* Take full width of the parent container */
  height: 100px; /* Fixed height; adjust as needed */
  padding-right: 20px; /* Add padding on both sides */
  padding-bottom: 10px;
}

.logo {
  width: 150px; /* Set a specific width for the logo */
  height: 130px; /* Maintain the aspect ratio */
  /*margin-top: 20px; !* Adds a gap between the logo and the left side *!*/
}

.login-link {
  color: #333333;
  font-family: Arial, fantasy;
  font-size: 16px; /* Adjust as needed */
  font-weight: bold;
  text-decoration: none; /* Remove underline for consistency */
  margin-bottom: 10px; /* Align with the bottom of the container */
}

.login-link:hover {
  color: #ffa500; /* Slightly darker yellow on hover */
  text-decoration: underline; /* Add an underline on hover */
}

.public-needs-link {
  color: #888888; /* Pink color for visibility */
  font-family: Arial, fantasy;
  font-size: 16px; /* Adjust as needed */
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 5px;
}

.public-needs-link:hover {
  color: #FFC933; /* A darker shade of pink for hover */
  text-decoration: underline; /* Add an underline on hover */
}

.container {
  width: 100%;
  padding-left: 20px;  /* Adjust according to your layout */
  padding-right: 20px; /* Adjust according to your layout */
}
