
<div class="login-container">
  <div class="logo">
    <img src="assets/ineedit_logo_tilted.ico" alt="Logo" class="logo">
  </div>
  <div class="links">
    <!-- Links here -->
    <a *ngIf="showExploreLabel" routerLink="/public-needs" class="public-needs-link">Explore others' needs</a>
    &nbsp;&nbsp;&nbsp;<a *ngIf="showMyNeeds"  [routerLink]="['/all-needs-by-user']" [queryParams]="{ 'user-id': userId }" class="public-needs-link">My needs</a>
    &nbsp;&nbsp;&nbsp;<a (click)="navigateAndRefresh('/login')" class="login-link">Login</a>
  </div>
</div>


<div class="container">
    <router-outlet></router-outlet>
</div>
  <footer class="footer">
    <div class="container">
      <div class="left-content">
        Stay Connected on our Social Media
        <br/>
        <a href="https://www.facebook.com/profile.php?id=61559591244528" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-facebook"></i> Facebook
        </a>
      </div>
      <div class="right-content">
        <a routerLink="/terms-and-conditions" class="terms-and-conditions-label">Terms & Conditions</a>
      </div>
    </div>
  </footer>


