

.footer {
  display: flex;              /* Enables flexbox layout */
  justify-content: center;    /* Centers content horizontally */
  align-items: center;        /* Centers content vertically */
  flex: 1;
  width: 100%;
  background-color: #ddd;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Caveat', cursive;
  text-align: center;         /* Ensures text is centered if it wraps across multiple lines */
  height: 100px;
}

.social-media-links ul {
  list-style: none;
  padding: 0;
}

.social-media-links li {
  display: inline-block;
  margin-right: 10px; /* Space between icons */
}

.social-media-links a {
  text-decoration: none;
  color: #333; /* Dark grey text and icons */
}

.social-media-links a:hover {
  color: #0056b3; /* Highlight color on hover */
}

.login-container {
  display: flex;
  justify-content: space-between; /* Space out items to the sides */
  align-items: flex-end; /* Align items at the bottom */
  /*padding: 10px; !* Optional: Add some padding around the container *!*/
  width: 100%;
}

.logo {
  width: 150px; /* Set a specific width for the logo */
  height: auto; /* Maintain the aspect ratio */
  margin-left: 20px; /* Adds a gap between the logo and the left side */
}

.login-link {
  color: #FFC933; /* Bright yellow color for visibility */
  font-family: 'Arial', sans-serif;
  font-size: 16px; /* Adjust as needed */
  font-weight: bold;
  text-decoration: none; /* Remove underline for consistency */
  margin-bottom: 10px; /* Align with the bottom of the container */
  margin-right: 20px; /* Adds a gap between the login link and the right side */
}

.login-link:hover {
  color: #ffa500; /* Slightly darker yellow on hover */
  text-decoration: underline; /* Add an underline on hover */
}

.container {
  width: 100%;
  padding-left: 20px;  /* Adjust according to your layout */
  padding-right: 20px; /* Adjust according to your layout */
}
