
<div class="login-container">
  <div class="logo">
    <img src="assets/ineedit_logo_tilted.ico" alt="Logo" class="logo">
  </div>
  <div class="links">
    <button (click)="navigateAndRefresh('/login')" class="login-button">Login</button>&nbsp;
    <button class="my-needs-button" *ngIf="showMyNeeds"  [routerLink]="['/all-needs-by-user']" >My needs</button>&nbsp;&nbsp;&nbsp;
    <button class="items-outside-button" routerLink="/items-outside" >See all items left outside </button>&nbsp;
    <button class="notify-dropoff-button" routerLink="/notify-dropoff" >Notify of Dropoff </button>&nbsp;&nbsp;&nbsp;
<!--   feature in progress... <button class="other-needs-button" *ngIf="showExploreLabel" routerLink="/public-needs" >Explore others' needs</button>-->
  </div>
</div>


<div class="container">
    <router-outlet></router-outlet>
</div>
  <footer class="footer">
      <div class="footer-column">
        Stay Connected <a href="https://www.facebook.com/profile.php?id=61559591244528"><i class="fab fa-facebook"></i></a>
      </div>
    <div class="footer-column">
      <a routerLink="/terms-and-conditions">Terms & Conditions</a>
      <p>Copyright © 2024 Ineedit. All Rights Reserved.</p>
    </div>
  </footer>


