
<div class="forgot-password-wrapper">
  <div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
      <div class="form-group">
        <label for="email">Enter your email address</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <button type="submit" [disabled]="!forgotPasswordForm.valid">Submit</button>
    </form>

    <!-- Display the message -->
    <div *ngIf="message" [ngClass]="{'success': !isError, 'error': isError}">
      {{ message }}
    </div>
  </div>
</div>

