.lighter-color {
  color: #888; /* Light gray; adjust the color code as needed */
  font-size: 18px;
}
.list-item {
  align-items: center;
  display: grid;
  grid-template-columns: 220px 270px 150px 170px 180px 150px;
  /*margin-bottom: 8px; !* Space between list items *!*/
  background-color: #f9f9f9; /* Light background for each item */
  padding: 2px; /* Padding inside each list item */
  border-radius: 5px; /* Optional: rounded corners */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: slight shadow for depth */
  font-size: 25px;
  font-family: 'Caveat', cursive;
  justify-content: left;
  border-bottom: 1px solid #ccc; /* Optional: adds a line between items */
  border-right: 1px solid #ccc;
  /*gap: 5px;*/
  /*min-height: 60px;*/
  /*max-height: 140px;*/
  /*width: 100%;*/
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.label-left, .label-right {
  margin: 0 10px;
  font-size: 15px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #088F8F;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

/* Optional: adds more styles for the slider focus (See CSS outline) */
input:focus + .slider {
  box-shadow: 0 0 1px #088F8F;
}

.content {
  flex-grow: 1; /* Allows the content to take up the rest of the space */
}

.toggle {
  /* Adjust padding or margins as necessary */
}

.lighter-color {
  color: #666;
}

.item-wrapper {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: space-between; /* Distributes space between the items */
}

.content, .vendor, .toggle {
  flex: 1; /* Each section takes equal width */
}

.select {
  /*font-family: 'Caveat', cursive;*/
  font-size: 14px;
}
.vendor-input{
  border-radius: 2px;
  border: 1px solid #bbb
}



