

  <div *ngIf="needingEventOfUser; else loading">
    <div>
      <ul>
        <li *ngFor="let userNeed of needingEventOfUser" class="list-item">
          <div class="content">
            <div>
              {{ userNeed.itemNeededName }} <span class="lighter-color">[ {{ userNeed.shoppingCategory }} ]</span>
            </div>
            <div *ngIf="userNeed.needingEventStatus === 'Need'" #needDiv>
              <span class="lighter-color">Need it {{ userNeed.daysListed }} days...</span>
            </div>
          </div>
          <div class="vendor">
            <!-- Conditional rendering of image if image path is available #textFallback-->
            <!-- Fallback text content -->
          <p>
<!--            From:-->
<!--            {{ userNeed.potentialVendor }}-->
            <img [src]="getImagePathForVendor(userNeed.potentialVendor )" alt="Vendor Image" width="100" height="50">
          </p>
          <input id="vendor" type="text" [formControl]="vendor" placeholder="Change shopping resource">
            <button type="button" (click)="updateVendor(userNeed, vendor.value)">Update Vendor</button>
          </div>
          <div class="toggle">
            <span class="label-left">Don't need </span>
            <label class="switch">
              <input type="checkbox" [checked]="userNeed.needingEventStatus === 'Need'"
                     (change)="toggleStatus(userNeed.needingEventId)">
              <span class="slider round"></span>
            </label>
            <span class="label-right">Need</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <ng-template #loading>
    <p>Loading event details...</p>
  </ng-template>

