.lighter-color {
  color: #888; /* Light gray; adjust the color code as needed */
}
.list-item {
  margin-bottom: 20px; /* Space between list items */
  background-color: #f9f9f9; /* Light background for each item */
  padding: 10px; /* Padding inside each list item */
  border-radius: 5px; /* Optional: rounded corners */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: slight shadow for depth */
  font-size: 20px;
  font-family: 'Caveat', cursive;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  border-bottom: 1px solid #ccc; /* Optional: adds a line between items */
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px; /* Adjusted to half the height for full rounding */
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px; /* Reduced from 26px */
  width: 16px; /* Reduced from 26px */
  left: 2px; /* Reduced for proportion */
  bottom: 2px; /* Reduced for proportion */
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

/* Optional: adds more styles for the slider focus (See CSS outline) */
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.content {
  flex-grow: 1; /* Allows the content to take up the rest of the space */
}

.toggle {
  /* Adjust padding or margins as necessary */
}

.lighter-color {
  color: #666;
}
