.lighter-color {
  color: #888; /* Light gray; adjust the color code as needed */
  font-size: 18px;
}
.list-item {
  align-items: center;
  display: grid;
  grid-template-columns: 250px 270px 150px 170px 160px 150px;
  /*margin-bottom: 8px; !* Space between list items *!*/
  background-color: #f9f9f9; /* Light background for each item */
  padding: 2px; /* Padding inside each list item */
  border-radius: 5px; /* Optional: rounded corners */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: slight shadow for depth */
  font-size: 25px;
  font-family: 'Caveat', cursive;
  justify-content: left;
  border-bottom: 1px solid #ccc; /* Optional: adds a line between items */
  border-right: 1px solid #ccc;
  padding-left: 90px;
  /*gap: 5px;*/
  /*min-height: 60px;*/
  /*max-height: 140px;*/
  /*width: 100%;*/
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.label-left, .label-right {
  margin: 0 10px;
  font-size: 15px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #088F8F;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

/* Optional: adds more styles for the slider focus (See CSS outline) */
input:focus + .slider {
  box-shadow: 0 0 1px #088F8F;
}

.content {
  flex-grow: 1; /* Allows the content to take up the rest of the space */
}

.toggle-container {
  display: flex;
  align-items: normal; /* This will vertically center the toggle and labels */
  justify-content: normal; /* This will center the entire toggle group horizontally, if needed */
}

.lighter-color {
  color: #666;
}

.item-wrapper {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  justify-content: space-between; /* Distributes space between the items */
}

.content, .vendor, .toggle {
  flex: 1; /* Each section takes equal width */
}

.select {
  /*font-family: 'Caveat', cursive;*/
  font-size: 14px;
}
.vendor-input{
  border-radius: 2px;
  border: 1px solid #bbb
}

body {
  font-family: 'Caveat', cursive;
  font-size: 24px;
  line-height: 1.6; /* Increase line spacing */
  letter-spacing: 1px; /* Optional: Increase space between characters */
}
.header {
  width: 100%;
  height: 50px; /* Adjust the height of the header bar */
  background-color: #FFC933;
  color: black;
  text-align: center;
  line-height: 50px; /* Vertical alignment */
  border-radius: 10px;
  font-family: 'Caveat', cursive;
  font-size: 28px;
}
.container {
  display: flex;
  height: calc(100% - 50px); /* Remaining height after the header */
}
.left-column {
  flex: 3;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

.add-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
}

.add-item input[type="text"] {
  width: 60%; /* Adjust width as per your layout */
  padding: 10px 15px;
  margin-right: 10px;
  border: 2px solid #0056b3; /* A nice blue border */
  border-radius: 5px; /* Rounded borders for the input box */
  font-size: 16px; /* Adequate font size for better readability */
  outline: none; /* Removes the outline to make it look better on focus */
}

.add-item input[type="text"]:focus {
  border-color: #004080; /* Darker shade of blue when focused */
}

.add-item button {
  padding: 10px 20px;
  background-color: #ECFFDC; /* A pleasant shade of blue */
  color: black; /* White text for contrast */
  border: none; /* No border for a modern look */
  border-radius: 5px; /* Rounded borders for the button */
  font-size: 16px;
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for a hover effect */
}

.add-item button:hover {
  background-color: #C1E1C1; /* A slightly darker blue on hover */
}



