/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.content, .vendor, .toggle {
  flex: 1;
  padding-bottom: 250px;
}


.header {
  width: 100%;
  height: 50px;
  background-color: #ffd970;
  color: black;
  text-align: center;
  line-height: 50px; /* Vertical alignment */
  border-radius: 10px;
  font-family: 'Caveat', cursive;
  font-size: 28px;
}
.list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f9f9f9;
  padding: 2px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-size: 20px;
  font-family: 'Caveat', cursive;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-bottom: 5px;
  justify-content: space-evenly;
}

.item-name{
  text-justify: auto;
  font-weight: bold;
  font-size: x-large;
  flex-grow: 1;
}

* {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.header, .content-box, .footer {
  padding-left: 20px;
  padding-right: 20px;
}
